@import "../../styles/colors.scss";

.inputWrap{
    width: 100%;
    margin-top: 16px;
    display: flex;
    position: relative;
    align-items: center;

    input {
        flex-grow: 1;
    }

    .status{
        position: absolute;
        right: 8px;
        font-size: 12px;
        top: 19px;
        cursor: help;
    }
}