$white: #FFF;
$black: #000;
$background: #F2F2F2;
$primary: #880E4F;
$primaryDark: #560027;
$primaryLight: #C51162;
$disabledBackground: #ccc;
$disabledColor: #666;
$valid: #4CAF50;
$invalid: #F44336;

