@import './colors.scss';

* {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $background;
}

input[type=text],
input[type=email],
input[type=password] {
    border: none;
    outline: none;
}

button {
    background-color: $primary;
}

button {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    border: 0;
    background-color: #880E4F;
    color: $white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

    &:disabled {
        background-color: $disabledBackground;
        color: $disabledColor;

        &:hover {
            opacity: 1;
        }
    }
}

button {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    border: 0;
    background-color: #880E4F;
    color: $white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

    &:disabled {
        background-color: $disabledBackground;
        color: $disabledColor;

        &:hover {
            opacity: 1;
        }
    }
}