@import "../../styles/colors.scss";

    
.header {
    width: 100%;
    background-color: $primary;
    border-top: 40px solid $primaryDark;
    
    display: flex;
    align-items: center;
    flex-direction: column;

    img{
        margin-top: 40px;
    }

    h1{
        color: $white;
        margin: 16px 0px 40px;
    }
}