@import "../../styles/colors.scss";


.signup {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;

    .form {

        h1 {
            font-size: 18px;
            text-transform: uppercase;
            color: $primary;
            margin-bottom: 2rem;
        }

        // input {
        //     width: 100%;
        //     height: 50px;
        //     border-radius: 4px;
        //     border: 1px solid $primary;
        //     padding: 0 16px;
        //     margin-bottom: 16px;
        //     font-size: 14px;
        //     color: $primary;
        // }


        .link {
            margin-top: 1rem;
        }

        display: flex;
        flex-direction: column;
        width: 400px;
        background-color: $white;
        padding: 40px;
        border-radius: 10px;
        align-items: center;
        box-shadow: 0 2px 10px -3px rgba(0, 0, 0, .03);
    }

}